/* ~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	background-color: #dbdbdb50;
}
ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
	font-family: 'Montserrat';
	text-decoration: none;
	color: black;
	margin: 0;
}

span {
	font-family: 'Montserrat';
	color: #e67e22;
}
.selected {
	color: #e67e22;
}
.wrapper {
	margin: 100px auto;
}
.dot-use {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #e67e22;
}
.dot {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: white;
}
.hr {
	width: 100%;
	height: 1px;
	background-color: #94949450;
}

/* HEADER */
.header__wrapper {
	display: flex;
	width: 100%;
	padding: 12px 40px 12px 7px;
	background-color: #dbdbdb;
	align-items: center;
}
.header__nametag {
	display: flex;
	gap: 5px;
	align-items: center;
}
.header__nametag h4 {
	font-size: 24px;
	font-weight: 800;
}
.header__navigation {
	display: flex;
	width: 100%;
	justify-content: end;
}
.header__navigation_nav ul {
	display: flex;
	gap: 45px;
	list-style-type: none;
	font-size: 24px;
	font-weight: 700;
}
.header__navigation_nav a:hover {
	transition: all 150ms ease-out;
	color: #e67e22;
}
/* WELCOME */
.body__welcome {
	display: flex;
	flex-direction: column;
	background-color: #dbdbdb50;
	width: 100%;
	padding: 91px 0 91px 0;
	gap: 20px;
}
.body__welcome h1 {
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	line-height: 59px;
}
.body__welcome h4 {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
}

/* POPULAR */
.body__popular {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 71px;
}
.body__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
.body__underlineText {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}
.body__underlineText h2 {
	font-size: 36px;
	font-weight: 600;
	line-height: 44px;
}
.body__underline {
	width: 279px;
	height: 5px;
	background-color: #e67e22;
}
.body__title h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.body__popular_cardList {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
	padding: 0px 210px 0px 210px;
}
.body__popular_card {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #ebebeb;
	width: 400px;
	gap: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 5px 5px 8px #00000035;
}
.body__popular_card img {
	width: 120%;
}
.body__popular_card-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 10px 0 10px;
	gap: 25px;
}

.body__popular_card-info h6 {
	font-size: 24px;
	font-weight: 600;
}
.body__popular_card-info p {
	font-family: Arial;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}
.body__popular_card-button a {
	padding: 9px 28px 10px 28px;
	background-color: #e67e22;
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: 600;
	border-radius: 5px;
}
.body__popular_card-button {
	margin-bottom: 50px;
}
.body__popular_card-difficult {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 5px;
	padding: 7px 0px 7px 10px;
	align-items: center;
	background-color: #d9d9d9;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.body__popular_card-difficult p {
	font-family: Arial;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}
/* TOUR */
.body__tour {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #dbdbdb;
	padding: 44px 550px 44px 550px;
	gap: 10px;
}
.body__tour_list {
	display: flex;
	flex-direction: column;
}
.body__tour_title {
	width: 100%;
	background-color: #e67e22;
	align-items: center;
	padding: 10px 0 10px 15px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.body__tour_title h4 {
	color: white;
	font-size: 32px;
	font-weight: 600;
	line-height: 39px;
}
.body__tour_card {
	display: flex;
	flex-direction: row;
	padding: 15px 0px 15px 15px;
	gap: 10px;
}
.body__tour_card-img {
	display: flex;
	justify-content: center;
	align-items: center;
}
.body__tour_card-text {
	display: flex;
	gap: 7px;
	flex-direction: column;
}
.body__tour_card-text h5 {
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}
.body__tour_card-text p {
	font-size: 11px;
	font-weight: 500;
	line-height: 13px;
	color: #00000050;
}
.body_tour_card-desc {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.body__tour_card-desc p {
	font-size: 11px;
	font-weight: 500;
	line-height: 13px;
	color: #000000;
}
.body__tour_card-desc span {
	font-size: 11px;
	font-weight: 600;
	line-height: 13px;
	color: #e67e22;
}
/* GUIDE */
.body__guide {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0px 210px 0px 210px;
	gap: 35px;
}
.body__guide_list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 50px;
}
.body__guide_card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 300px;
	height: 350px;
}
.body__guide_card-text {
	display: flex;
	flex-direction: column;
	position: absolute;
	padding: 0 0 10px 10px;
	gap: 5px;
}
.body__guide_card-text h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 29px;
	color: white;
}
.body__guide_card-text p {
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: white;
}

footer {
	padding: 10px 0px 10px 15px;
	background-color: #dbdbdb50;
}
footer h1 {
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 600;
}
