.game-tag {
	display: block;
	background-color: #e67e22;
	padding: 9px 5px 9px 5px;
	border-radius: 5px;
}
.game-tag h5 {
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	color: white;
}
.game-tag__wrapper {
	display: flex;
	flex-direction: row;
}
.body__tour_card-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 10px 0 10px;
	gap: 21px;
}
.body__tour_card-info h6 {
	font-size: 24px;
	font-weight: 600;
}
.body__tour_card-info p {
	font-family: Arial;
	font-size: 15px;
	font-weight: 500;
	line-height: 17px;
}
.body__tour_card-desc {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.body__tour_card-desc_text {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.body__tour_card-desc_text p {
	font-family: 'Montserrat';
	font-size: 15px;
	font-weight: 300;
	line-height: 16px;
	color: #00000050;
}
.body__tour_card-desc_text span {
	font-size: 15px;
	font-weight: 300;
}
.body__popular_card-button {
	margin-bottom: 15px;
	width: 100%;
}
.body__popular_card-button a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.body__popular_card {
	gap: 15px;
}
